* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f0f9ff, #d3e0ea);
    animation: backgroundAnimation 10s ease infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-container {
    display: flex;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.8s ease-in-out;
}

.about-image {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.about-image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.about-image:hover img {
    transform: scale(1.05);
}

.about-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    /* color: #333; */
    color: chocolate;
    font-size: 36px;
    margin-bottom: 20px;
    animation: slideIn 0.5s ease-in;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    animation: slideIn 0.5s ease-in;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #c13c21;
    transform: scale(1.05);
}

#extra-info {
    display: none;
    color: #333;
    animation: slideIn 0.5s ease-in;
}

@keyframes backgroundAnimation {
    0% { background: #f0f9ff; }
    100% { background: #d3e0ea; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-image, .about-content {
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 14px;
    }
}
